.number p {
  font-size: 30px;
  color: #4b4b4b;
  margin: 22px 0px 16px 0px; }

.nav-top .text-topheader {
  float: right; }
  .nav-top .text-topheader li {
    float: left;
    list-style: none;
    margin: 34px 6px 22px 6px; }
    .nav-top .text-topheader li a {
      color: #919191; }
      .nav-top .text-topheader li a:hover {
        color: #3baeee;
        text-decoration: none; }

nav.main {
  background: #3baeee;
  height: 68px; }

.header-logo {
  float: left; }

.header-nav {
  float: left; }
  .header-nav li {
    float: left;
    list-style: none; }
    .header-nav li a {
      display: block;
      padding: 23px 6px 20px 6px;
      color: #fff;
      font-size: 16px; }
      .header-nav li a:hover {
        text-decoration: none;
        color: #266283; }

.header-button {
  float: right;
  margin-top: 23px; }
  .header-button a {
    color: #fff;
    font-size: 16px;
    padding: 10px 10px;
    border: solid 1px #fff;
    border-radius: 5px; }
    .header-button a:hover {
      text-decoration: none;
      color: #266283;
      border-color: #266283; }

.h1 {
  font-size: 57px;
  color: #00adee;
  margin-top: 114px; }

.h2 {
  font-size: 30px;
  color: #47474a;
  margin-top: 67px; }

.img-header {
  background-image: url(../img/header-img.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  height: 422px; }

.content-gray h3, .content-white h3 {
  color: #00adee;
  font-size: 57px;
  text-align: center;
  margin-top: 57px;
  display: block; }
.content-gray .text-block, .content-white .text-block {
  font-size: 36px;
  color: #47474a;
  margin-top: 40px;
  text-align: center;
  display: block; }

.icon-wrap {
  margin-top: 80px; }
  .icon-wrap .md-icon1, .icon-wrap .md-icon2, .icon-wrap .md-icon3, .icon-wrap .md-icon1-1, .icon-wrap .md-icon2-2, .icon-wrap .md-icon3-3, .icon-wrap .md-icon1-1-1, .icon-wrap .md-icon2-2-2, .icon-wrap .md-icon3-3-3 {
    height: 127px;
    background-position: top center;
    background-repeat: no-repeat; }
  .icon-wrap .md-icon1 {
    background-image: url(../img/md-icon-1.png); }
  .icon-wrap .md-icon2 {
    background-image: url(../img/md-icon-2.png); }
  .icon-wrap .md-icon3 {
    background-image: url(../img/md-icon-3.png); }
  .icon-wrap .md-icon1-1 {
    background-image: url(../img/md-icon-1-1.jpg); }
  .icon-wrap .md-icon2-2 {
    background-image: url(../img/md-icon-2-2.jpg); }
  .icon-wrap .md-icon3-3 {
    background-image: url(../img/md-icon-3-3.jpg); }
  .icon-wrap .md-icon1-1-1 {
    background-image: url(../img/md-icon-1-1-1.png); }
  .icon-wrap .md-icon2-2-2 {
    background-image: url(../img/md-icon-2-2-2.png); }
  .icon-wrap .md-icon3-3-3 {
    background-image: url(../img/md-icon-3-3-3.png); }
  .icon-wrap .md-text {
    margin-top: 50px; }

a:hover {
  text-decoration: none; }
a .more-text {
  font-size: 24px;
  color: #00adee;
  margin-top: 74px; }

.text-paragraf {
  font-size: 20px;
  color: #313131;
  margin-top: 40px;
  margin-bottom: 54px; }

.content-gray {
  background: #eee; }

.sale-color {
  color: #00adee; }
