.content
    .wrap-content.container
        h3 Модный дизайн
        span.text-block
            Лучшие креативние дизайнеры
        .row.icon-wrap
            .col-xs-4
                .md-icon1
                p Индивидуальная разработка дизайна
            .col-xs-4
                .md-icon2
                p Качественная верстка
            .col-xs-4
                .md-icon3
                p Смелые решения

