doctype html
html(lang="ru")
  head
    block title
      title Главная страница
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/style.css")
  body
    block content


