nav.main
  .container
    .row
      .header-logo
        a(href="#")
          img(src="img/logo.jpg", alt="")
      .header-nav
        ul.clearfix
          li
            a(href="#") Выпускные альбомы
          li
            a(href="#") Каталог дизайнов
          li
            a(href="#") Фотосьемка
          li
            a(href="#") Частые вопросы
          li
            a(href="#") Цена
      .header-button
        a(href="#") Зделать заявку
