.container
  .row
    .col-xs-6.number
      p +7 495 1641234
    .col-xs-6.nav-top
      ul.clearfix.text-topheader
        li
          a(href="#") Позвоните мне
        li
          a(href="#") Контакты
        li
          a(href="#") Карта проезда
